@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.page__title {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background-color: var(--elevated-bg-color);
}

.page__body {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: var(--elevated-bg-color);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h2.section__title {
  font-size: 1.5rem;
}

h3.section__title {
  font-size: 1rem;
  text-transform: none;
  margin-top: 2rem;
}

.mb__2 {
  margin-bottom: 2rem;
}

p.section__text {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  line-height: 1.5;
}

img.logo {
  height: 150px;
  border-radius: 50%;
}

img.repository__logo {
  height: 25px;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: var(--elevated-bg-color);
  transition: all 0.2s ease-in-out;
}

img.repository__logo:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 0 0.5rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
}

a.page__link {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: none;

  background-color: var(--elevated-bg-color);
  opacity: 0.6;
}

.material-symbols-outlined {
  color: var(--link-color);
  font-size: 3rem;
}

.footer__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

a.button {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--elevated-bg-color);
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

a.button:hover {
  background-color: var(--border-color);
}

.pills {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--elevated-bg-color);
  border: 1px solid var(--border-color);
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

:root {
  --text-color: #e6edf3;
  --link-color: #698aaf;
  --bg-color: #010409;
  --elevated-bg-color: #0d1117;
  --border-color: #30363d;
}
